/* The popup (background) */

#payPopup {
    display: block;
    /* Shows the popup */
    position: fixed;
    z-index: 9999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback background color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Background color with opacity */
}
/* Popup content box */

#payPopupContent {
    background-color: #fefefe;
    /* Popup color */
    margin: auto;
    margin-top: 30px;
    padding: 6px;
    border: 1px solid #888;
    /* Popup border */
    border-radius: 10px;
    max-width: 700px;
    /* Popup width */
    height: 90%;
    /* Popup height: */
    overflow: auto;
}
#payPopupFrame {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 100%;
    height: 100%;
}
/* The close button */

#payPopupClose {
    color: #aaa;
    /* Close button color */
    float: right;
    font-size: 28px;
    /* Close button size */
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
    line-height: 15px;
    height: 15px;
}
#payPopupClose:hover, #payPopupClose:focus {
    color: black;
    /* Close button hover color */
    text-decoration: none;
    cursor: pointer;
}